<phpunit
  bootstrap="bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  verbose="true"
  >
  <testsuites>
    <testsuite name="taxjar">
      <directory prefix="test-" suffix=".php">./specs/</directory>
      <directory prefix="test-" suffix=".php">./integration/</directory>
    </testsuite>
  </testsuites>
</phpunit>
